[Desktop Entry]
Encoding=UTF-8
Version=2.0
Type=Application
Terminal=false
Name=Luxmeter
Exec=/usr/bin/invoker --type=d -s /opt/luxmeter/bin/luxmeter
Icon=/usr/share/icons/hicolor/80x80/apps/luxmeter80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
